<mat-toolbar color="primary">
    <mat-toolbar-row class="toolbarbg">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Textile Management App</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/accounts'"> Make a Sale </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav">
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/accounts'"> Home </a>
        <a mat-list-item [routerLink]="'/weaver-main'" routerLinkActive="active" (click)="sidenav.close()"> Weavers </a>
        <a mat-list-item [routerLink]="'/contacts'"> Looms </a>
        <a mat-list-item [routerLink]="'/activities'"> Cone/Jari inward </a>
        <a mat-list-item [routerLink]="'/create-contact'"> Stock </a>
        <a mat-list-item [routerLink]="'/create-activity'"> Sale </a>
        <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  