
<div class="example-header">
  <button mat-raised-button class="button-position">Add Weaver</button>  
  <mat-form-field class="serch-pos">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search By Any Field">
    </mat-form-field>
     
    
  </div>
 
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="weaverName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Weaver Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.weaverName}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.address}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="joinedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Joined Date </mat-header-cell>
        <mat-cell *matCellDef="let row" > {{row.joinedDate}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="nickName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nick Name </mat-header-cell>
        <mat-cell *matCellDef="let row" > {{row.nickName}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->